<style>
a:link, a:visited {
  background-color: #2aff2a;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #58dd58;
}
</style>

<p>corso-detalhe.component.html menu!</p>
 <nav>
    <ul><a href="https://www.google.com.br" target="_blank">Google</a></ul>
    <ul><a href="https://k360.kroton.com.br" target="_blank">K360</a></ul>
    <ul><a href="https://jquery.com" target="_blank">Jquery</a></ul>
 </nav>
